C:\Users\Andrew Moss\PycharmProjects\DFS_Calculator\venv
C:\Users\Andrew Moss\PycharmProjects\DFS_Calculator\BattingOrders.csv
C:\Users\Andrew Moss\PycharmProjects\DFS_Calculator\DKSalariesMLB.csv
C:\Users\Andrew Moss\PycharmProjects\DFS_Calculator\DKSalariesNBA.csv
C:\Users\Andrew Moss\PycharmProjects\DFS_Calculator\NBA.csv
C:\Users\Andrew Moss\PycharmProjects\DFS_Calculator\NBALineups.csv
C:\Users\Andrew Moss\PycharmProjects\DFS_Calculator\ownershipMLB.csv
C:\Users\Andrew Moss\PycharmProjects\DFS_Calculator\Schedule.csv
C:\Users\Andrew Moss\PycharmProjects\DFS_Calculator\Simulation\Frequencies.csv
C:\Users\Andrew Moss\PycharmProjects\DFS_Calculator\Simulation\LineupPreds.csv
C:\Users\Andrew Moss\PycharmProjects\DFS_Calculator\Simulation\LineupPredsDash.csv
C:\Users\Andrew Moss\PycharmProjects\DFS_Calculator\Simulation\MarketLineups.csv
C:\Users\Andrew Moss\PycharmProjects\DFS_Calculator\Simulation\MasterSheet.csv
C:\Users\Andrew Moss\PycharmProjects\DFS_Calculator\Simulation\SimPreds.csv